

<label for="fae_codcli">Codigo Cliente</label>
<input type="text" id="fae_codcli" name="fae_codcli">

<label for="fae_cliente_nombre">Facturar a nombre de</label>
<input type="text" id="fae_cliente_nombre" name="fae_cliente_nombre">

<label for="fae_cliente_direccion">Direccion</label>
<input type="text" id="fae_cliente_direccion" name="fae_cliente_direccion">

<label for="fae_fecha">Fecha</label>
<input type="date" id="fae_fecha" name="fae_fecha">

<label for="fae_codrut">Ruta</label>
<input type="text" id="fae_codrut" name="fae_codrut">

<label for="fae_codsuc">Sucursal</label>
<select id="fae_codsuc" name="fae_codsuc">
    <option value="24">TEGUCIGALPA</option>
    <option value="25">COMAYAGUA</option>
    <option value="37">CHOLUTECA</option>
</select>

<label for="fae_condicion_pago">Condicion Pago</label>
<select id="fae_condicion_pago" name="fae_condicion_pago">
    <option value="CONTADO">CONTADO</option>
    <option value="CREDITO">CREDITO</option>
</select>

<label for="fae_plazo">Plazo</label>
<select id="fae_plazo" name="fae_plazo">
    <option value=0>0</option>
    <option value=7>7</option>
    <option value=15>15</option>
    <option value=30>30</option>
</select>

<label for="fae_fecha_vence">Fecha Vence</label>
<input type="date" id="fae_fecha_vence" name="fae_fecha_vence">

<label for="fae_exento">Exenta</label>
<input type="checkbox" id="fae_exento" name="fae_exento">

<label for="fae_unoporciento">Ret 1%</label>
<input type="checkbox" id="fae_unoporciento" name="fae_unoporciento">

<label for="fae_descxitem">Dscto. por Item</label>
<input type="checkbox" id="fae_descxitem" name="fae_descxitem">

<label for="fae_descglogal">Dscto. global</label>
<input type="text" id="fae_descglogal" name="fae_descglogal">

<div>
    <table id="tblDetail">
        <thead>
            <tr>
                <td>Codigo</td>
                <td>Imp.</td>
                <td>Cant.</td>
                <td>Un.</td>
                <td>Descripcion</td>
                <td>Precio</td>
                <td>Importe s/dscto.</td>
                <td>Dscto %.</td>
                <td>Importe c/dscto.</td>
                <td>Impuesto</td>
                <td>Total</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1101</td>
                <td>G</td>
                <td>1</td>
                <td>UN</td>
                <td>Descripcion del producto</td>
                <td>1</td>
                <td>1</td>
                <td>0.</td>
                <td>1</td>
                <td>0.13</td>
                <td>1.13</td>
            </tr>
        </tbody>
    </table>    
</div>
<div>
    <div>
        <label for="subTotal">Sub Total</label>
        <input type="number" value="1.13" readonly>
    </div>
    <div>
        <label for="subTotalExento">Sub Total Exento</label>
        <input type="number" value="0" readonly>
    </div>        
    <div>
        <label for="subTotalGravado">Sub Total Gravado</label>
        <input type="number" value="1.13" readonly>
    </div>        
    <div>
        <label for="descuento">Descuento</label>
        <input type="number" value="0" readonly>
    </div>        
    <div>
        <label for="totalConDescuento">Total con Descuento</label>
        <input type="number" value="1.13" readonly>
    </div>        
    <div>
        <label for="impuesto">Impuesto</label>
        <input type="number" value="0.13" readonly>
    </div>       
    <div>
        <label for="subTotalConImpuesto">SubTota con Impuesto</label>
        <input type="number" value="1.13" readonly>
    </div>        
    <div>
        <label for="unoPorCiento">Retencion 1%</label>
        <input type="number" value="0" readonly>
    </div>        
    <div>
        <label for="granTotal">Gran Total</label>
        <input type="number" value="1.13" readonly>
    </div>            
</div>
<mat-card class="invoice-card" layout="row">
    <mat-card-title>Factura</mat-card-title>
    <mat-card-subtitle>De consumidor final</mat-card-subtitle>
    <mat-card-content>
        <div>
            <div>
                <mat-form-field appearance="outline" [style.fontSize.px]=13 [style.width.px]=80>
                    <mat-label>Codigo</mat-label>
                    <input matInput type="text" placeholder="0">
                </mat-form-field>
                <mat-form-field appearance="outline" [style.fontSize.px]=13 [style.width.px]=400>
                    <mat-label>Nombre Cliente</mat-label>
                    <input matInput type="text" placeholder="0">
                </mat-form-field>
                <mat-form-field appearance="outline" [style.fontSize.px]=13>
                    <mat-label>Fecha</mat-label>
                    <input matInput type="date" placeholder="0">
                </mat-form-field>    
                <mat-form-field appearance="outline">
                    <mat-label>Condicion</mat-label>
                    <mat-select>
                      <mat-option value="CONTADO">CONTADO</mat-option>
                      <mat-option value="CREDITO">CREDITO</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field appearance="outline" [style.width.px]=150>
                    <mat-label>Plazo en dias</mat-label>
                    <mat-select>
                      <mat-option value="0">0</mat-option>
                      <mat-option value="7">7</mat-option>
                      <mat-option value="15">15</mat-option>                      
                    </mat-select>
                  </mat-form-field>                    
                <mat-checkbox class="margin-checkbox">1% Ret.</mat-checkbox>
                <mat-checkbox class="margin-checkbox">Exenta</mat-checkbox>                                  
            </div>
            <div>
                <mat-form-field appearance="outline" [style.fontSize.px]=13 style="width: 100%;" >
                    <mat-label>Direccion</mat-label>
                    <input matInput type="text" placeholder="0">
                </mat-form-field>
            </div>
        </div>
        <div>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->
              
                <!-- Position Column -->
                <ng-container matColumnDef="position">
                  <th mat-header-cell *matHeaderCellDef> No. </th>
                  <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                </ng-container>
              
                <!-- Name Column -->
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef> Name </th>
                  <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
              
                <!-- Weight Column -->
                <ng-container matColumnDef="weight">
                  <th mat-header-cell *matHeaderCellDef> Weight </th>
                  <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                </ng-container>
              
                <!-- Symbol Column -->
                <ng-container matColumnDef="symbol">
                  <th mat-header-cell *matHeaderCellDef> Symbol </th>
                  <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
                            
        </div>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-flat-button color="primary" (click)="openDialog()" #guardar [disabled]="!isEditing">Guardar</button>
        <button mat-flat-button #cancelar>Cancelar</button>
      </mat-card-actions>
    <mat-card-footer>
        <mat-progress-bar [mode]="progressBarMode"></mat-progress-bar>
    </mat-card-footer>
</mat-card>


<button mat-raised-button (click)="openDialog()">Open Dialog</button>

<mat-dialog-content>Dialog

    
</mat-dialog-content>
<mat-dialog-actions>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button mat-button [mat-dialog-close]="true" color="warm">Aceptar</button>
</mat-dialog-actions>